[submodule "aggressive-indent"]
	path = lib/aggressive-indent
	url = git@github.com:Malabarba/aggressive-indent-mode.git
[submodule "all-the-icons"]
	path = lib/all-the-icons
	url = git@github.com:domtronn/all-the-icons.el.git
[submodule "async"]
	path = lib/async
	url = git@github.com:jwiegley/emacs-async.git
[submodule "auctex"]
	path = lib/auctex
	url = git@github.com:emacsmirror/auctex.git
[submodule "auctex-latexmk"]
	path = lib/auctex-latexmk
	url = git@github.com:tom-tan/auctex-latexmk.git
[submodule "avy"]
	path = lib/avy
	url = git@github.com:abo-abo/avy.git
[submodule "beacon"]
	path = lib/beacon
	url = git@github.com:Malabarba/beacon.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "cape"]
	path = lib/cape
	url = git@github.com:minad/cape.git
[submodule "cdlatex"]
	path = lib/cdlatex
	url = git@github.com:cdominik/cdlatex.git
[submodule "citar"]
	path = lib/citar
	url = git@github.com:emacs-citar/citar.git
[submodule "citeproc"]
	path = lib/citeproc
	url = git@github.com:andras-simonyi/citeproc-el.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "color-theme-sanityinc-tomorrow"]
	path = lib/color-theme-sanityinc-tomorrow
	url = git@github.com:purcell/color-theme-sanityinc-tomorrow.git
[submodule "compat"]
	path = lib/compat
	url = https://git.sr.ht/~pkal/compat
[submodule "consult"]
	path = lib/consult
	url = git@github.com:minad/consult.git
[submodule "consult-eglot"]
	path = lib/consult-eglot
	url = git@github.com:mohkale/consult-eglot.git
[submodule "consult-org-roam"]
	path = lib/consult-org-roam
	url = git@github.com:jgru/consult-org-roam.git
[submodule "corfu"]
	path = lib/corfu
	url = https://github.com/minad/corfu
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
[submodule "deferred"]
	path = lib/deferred
	url = git@github.com:kiwanami/emacs-deferred.git
[submodule "devdocs"]
	path = lib/devdocs
	url = git@github.com:astoff/devdocs.el.git
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "diredfl"]
	path = lib/diredfl
	url = git@github.com:purcell/diredfl.git
[submodule "discover"]
	path = lib/discover
	url = git@github.com:mickeynp/discover.el.git
[submodule "doom-modeline"]
	path = lib/doom-modeline
	url = git@github.com:seagle0128/doom-modeline.git
[submodule "doom-themes"]
	path = lib/doom-themes
	url = git@github.com:doomemacs/themes.git
[submodule "elfeed"]
	path = lib/elfeed
	url = git@github.com:skeeto/elfeed.git
[submodule "emacs-zotero"]
	path = emacs-zotero
	url = git@gitlab.com:fvdbeek/emacs-zotero.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "embark"]
	path = lib/embark
	url = git@github.com:oantolin/embark.git
[submodule "emms"]
	path = lib/emms
	url = git@github.com:emacsmirror/emms.git
[submodule "envrc"]
	path = lib/envrc
	url = git@github.com:purcell/envrc.git
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "etexshow"]
	path = lib/etexshow
	url = git@github.com:pgundlach/etexshow.git
[submodule "evil"]
	path = lib/evil
	url = git@github.com:emacs-evil/evil.git
[submodule "evil-surround"]
	path = lib/evil-surround
	url = git@github.com:emacs-evil/evil-surround.git
[submodule "exec-path-from-shell"]
	path = lib/exec-path-from-shell
	url = git@github.com:purcell/exec-path-from-shell.git
[submodule "f"]
	path = lib/f
	url = git@github.com:rejeep/f.el.git
[submodule "ghub"]
	path = lib/ghub
	url = git@github.com:magit/ghub.git
[submodule "git-link"]
	path = lib/git-link
	url = git@github.com:sshaw/git-link.git
[submodule "git-timemachine"]
	path = lib/git-timemachine
	url = git@gitlab.com:pidu/git-timemachine.git
[submodule "go-translate"]
	path = lib/go-translate
	url = git@github.com:lorniu/go-translate.git
[submodule "google-translate"]
	path = lib/google-translate
	url = git@github.com:atykhonov/google-translate.git
[submodule "goto-chg"]
	path = lib/goto-chg
	url = git@github.com:emacs-evil/goto-chg.git
[submodule "grammarly"]
	path = lib/grammarly
	url = git@github.com:emacs-grammarly/grammarly.git
[submodule "guess-language"]
	path = lib/guess-language
	url = git@github.com:tmalsburg/guess-language.el.git
[submodule "highlight-escape-sequences"]
	path = lib/highlight-escape-sequences
	url = git@github.com:dgutov/highlight-escape-sequences.git
[submodule "highlight-quoted"]
	path = lib/highlight-quoted
	url = git@github.com:Fanael/highlight-quoted.git
[submodule "hledger-mode"]
	path = lib/hledger-mode
	url = git@github.com:narendraj9/hledger-mode.git
[submodule "ht"]
	path = lib/ht
	url = git@github.com:Wilfred/ht.el.git
[submodule "htmlize"]
	path = lib/htmlize
	url = git@github.com:hniksic/emacs-htmlize.git
[submodule "inheritenv"]
	path = lib/inheritenv
	url = git@github.com:purcell/inheritenv.git
[submodule "kind-icon"]
	path = lib/kind-icon
	url = https://github.com/jdtsmith/kind-icon
[submodule "lib/biblio.el"]
	path = lib/biblio.el
	url = git@github.com:nicehiro/biblio.el.git
[submodule "lib/carbon-theme"]
	path = lib/carbon-theme
	url = git@github.com:DogLooksGood/carbon-theme.git
[submodule "lib/ef-themes"]
	path = lib/ef-themes
	url = git@github.com:protesilaos/ef-themes.git
[submodule "lib/emacs-zotero"]
	path = lib/emacs-zotero
	url = git@gitlab.com:fvdbeek/emacs-zotero.git
[submodule "lib/global-interactive-emacs"]
	path = lib/global-interactive-emacs
	url = git@github.com:ginqi7/global-interactive-emacs.git
[submodule "lib/txl.el"]
	path = lib/txl.el
	url = git@github.com:tmalsburg/txl.el.git
[submodule "link-hint"]
	path = lib/link-hint
	url = git@github.com:noctuid/link-hint.el.git
[submodule "llama"]
	path = lib/llama
	url = https://git.sr.ht/~tarsius/llama
[submodule "lyrics-fetcher"]
	path = lib/lyrics-fetcher
	url = git@github.com:SqrtMinusOne/lyrics-fetcher.el.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
[submodule "makey"]
	path = lib/makey
	url = git@github.com:mickeynp/makey.git
[submodule "marginalia"]
	path = lib/marginalia
	url = git@github.com:minad/marginalia.git
[submodule "markdown-mode"]
	path = lib/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
[submodule "mindre-theme"]
	path = lib/mindre-theme
	url = git@github.com:erikbackman/mindre-theme.git
[submodule "minions"]
	path = lib/minions
	url = git@github.com:tarsius/minions.git
[submodule "mixed-pitch"]
	path = lib/mixed-pitch
	url = git@gitlab.com:jabranham/mixed-pitch.git
[submodule "modus-themes"]
	path = lib/modus-themes
	url = git@github.com:emacsmirror/modus-themes.git
[submodule "mood-line"]
	path = lib/mood-line
	url = https://gitlab.com/jessieh/mood-line
[submodule "move-dup"]
	path = lib/move-dup
	url = git@github.com:wyuenho/move-dup.git
[submodule "multi-vterm"]
	path = lib/multi-vterm
	url = git@github.com:suonlight/multi-vterm.git
[submodule "my-yasnippets"]
	path = lib/my-yasnippets
	url = git@github.com:nicehiro/yasnippets.git
[submodule "names"]
	path = lib/names
	url = git@github.com:Malabarba/names.git
[submodule "no-littering"]
	path = lib/no-littering
	url = git@github.com:emacscollective/no-littering.git
[submodule "oauth"]
	path = lib/oauth
	url = git@github.com:psanford/emacs-oauth.git
[submodule "orderless"]
	path = lib/orderless
	url = git@github.com:oantolin/orderless.git
[submodule "org-bars"]
	path = lib/org-bars
	url = git@github.com:tonyaldon/org-bars.git
[submodule "org-download"]
	path = lib/org-download
	url = git@github.com:abo-abo/org-download.git
[submodule "org-modern"]
	path = lib/org-modern
	url = git@github.com:minad/org-modern.git
[submodule "org-roam"]
	path = lib/org-roam
	url = git@github.com:org-roam/org-roam.git
[submodule "org-roam-server"]
	path = lib/org-roam-server
	url = git@github.com:emacsattic/org-roam-server.git
[submodule "org-roam-ui"]
	path = lib/org-roam-ui
	url = git@github.com:org-roam/org-roam-ui.git
[submodule "org-static-blog"]
	path = lib/org-static-blog
	url = git@github.com:bastibe/org-static-blog.git
[submodule "parsebib"]
	path = lib/parsebib
	url = git@github.com:joostkremers/parsebib.git
[submodule "pass"]
	path = lib/pass
	url = git@github.com:NicolasPetton/pass.git
[submodule "persist"]
	path = lib/persist
	url = git@github.com:emacsmirror/persist.git
[submodule "popup"]
	path = lib/popup
	url = git@github.com:auto-complete/popup-el.git
[submodule "popwin"]
	path = lib/popwin
	url = git@github.com:emacsorphanage/popwin.git
[submodule "posframe"]
	path = lib/posframe
	url = git@github.com:tumashu/posframe.git
[submodule "powerline"]
	path = lib/powerline
	url = git@github.com:milkypostman/powerline.git
[submodule "pyvenv"]
	path = lib/pyvenv
	url = git@github.com:jorgenschaefer/pyvenv.git
[submodule "queue"]
	path = lib/queue
	url = git@github.com:emacsmirror/queue.git
[submodule "rainbow-delimiters"]
	path = lib/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "rainbow-identifiers"]
	path = lib/rainbow-identifiers
	url = git@github.com:Fanael/rainbow-identifiers.git
[submodule "recursion-indicator"]
	path = lib/recursion-indicator
	url = git@github.com:minad/recursion-indicator.git
[submodule "request"]
	path = lib/request
	url = git@github.com:tkf/emacs-request.git
[submodule "s"]
	path = lib/s
	url = git@github.com:magnars/s.el.git
[submodule "shrink-path"]
	path = lib/shrink-path
	url = git@gitlab.com:bennya/shrink-path.el.git
[submodule "simple-httpd"]
	path = lib/simple-httpd
	url = git@github.com:skeeto/emacs-web-server.git
[submodule "ssh-config-mode"]
	path = lib/ssh-config-mode
	url = git@github.com:jhgorrell/ssh-config-mode-el.git
[submodule "standard-themes"]
	path = lib/standard-themes
	url = https://github.com/emacsmirror/standard-themes
[submodule "super-save"]
	path = lib/super-save
	url = git@github.com:bbatsov/super-save.git
[submodule "switch-window"]
	path = lib/switch-window
	url = git@github.com:dimitri/switch-window.git
[submodule "tempel"]
	path = lib/tempel
	url = git@github.com:minad/tempel.git
[submodule "tree-sitter"]
	path = lib/tree-sitter
	url = git@github.com:emacs-tree-sitter/elisp-tree-sitter.git
[submodule "tree-sitter-langs"]
	path = lib/tree-sitter-langs
	url = git@github.com:emacs-tree-sitter/tree-sitter-langs.git
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "ts"]
	path = lib/ts
	url = git@github.com:alphapapa/ts.el.git
[submodule "valign"]
	path = lib/valign
	url = git@github.com:casouri/valign.git
[submodule "vertico"]
	path = lib/vertico
	url = git@github.com:minad/vertico.git
[submodule "visual-fill-column"]
	path = lib/visual-fill-column
	url = https://codeberg.org/joostkremers/visual-fill-column.git
[submodule "websocket"]
	path = lib/websocket
	url = git@github.com:ahyatt/emacs-websocket.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "writeroom-mode"]
	path = lib/writeroom-mode
	url = git@github.com:joostkremers/writeroom-mode.git
[submodule "ws-butler"]
	path = lib/ws-butler
	url = git@github.com:lewang/ws-butler.git
[submodule "yasnippet"]
	path = lib/yasnippet
	url = git@github.com:joaotavora/yasnippet.git
[submodule "yasnippet-snippets"]
	path = lib/yasnippet-snippets
	url = git@github.com:AndreaCrotti/yasnippet-snippets.git
[submodule "youdao-dictionary"]
	path = lib/youdao-dictionary
	url = git@github.com:xuchunyang/youdao-dictionary.el.git
[submodule "zotxt"]
	path = lib/zotxt
	url = git@gitlab.com:egh/zotxt-emacs.git
